<div class="logo">
  <a href="#" class="simple-text logo-normal">
    <img src="assets/images/logo-png.png" alt="" />
  </a>
</div>

<div class="sidebar-wrapper">
  <ul class="nav">
    <li routerLinkActive="active">
      <a class="link" [routerLink]="['/home']">
        <mat-icon fontSet="fa" fontIcon="fa-home" fxLayoutAlign="start center"></mat-icon>
        <p>Home</p>
      </a>
    </li>

    <li routerLinkActive="active">
      <a class="link" [routerLink]="['/product-management']">
        <mat-icon fontSet="fa" fontIcon="fa-shopping-cart" fxLayoutAlign="start center"></mat-icon>
        <p>Product Management</p>
      </a>
    </li>

  </ul>
</div>
