<div [@fadeInOut]>
  <div class="panel-header">
    <div class="header text-center">
      <h4 class="title"></h4>
    </div>
  </div>

  <app-dynamic-panel-body [title]="true" [titleLabel]="''">

    <div fxLayout="row" fxLayoutAlign="center" class="center-card">
      <div fxFlex="80" class="main-content">
        <div fxLayout="column" fyLayoutGap="10px" fxLayoutAlign="center" >
          <div fxFlex="50">
            <div fxLayout="column">
              <div fxFlex="50" style="margin-top: 30px;">
                <div fxLayout="row" fxLayoutAlign="center">
                  <div fxFlex="50" class="title-div"> <h3 class="text-ajust">Welcome to the Product Management System</h3></div>
                </div>
              </div>

              <div fxFlex="50">
                <span class="text-ajust description">This application allows you to manage the products in your online store,
                  <span class="text-right-light"> view, edit, create and delete products</span>
                  Instructions:
                  “1. Log in using your authorization key.”
                  “2. View, edit or create new products.”
                  “3. Delete products securely.”</span>
              </div>
            </div>
          </div>

          <div fxFlex="50">
            <div class="container">
              <mat-grid-list cols="2" rowHeight="1:1" class="grid-list">
                <mat-grid-tile>
                  <a href="https://www.cloudonix.com/" target="_blank">
                    <mat-card class="card"
                      style="background-image: url('assets/images/cloudonix-website.png'); background-size: cover; background-position: center;">
                      <div class="overlay">
                        <h2>Cloudonix WebSite </h2>
                        <p> Get to know more about our services on our website, click hero to see!</p>
                      </div>
                    </mat-card>
                  </a>
                </mat-grid-tile>
                <mat-grid-tile>
                  <mat-card class="card" routerLink="/product-management">
                    <img src="assets/images/project-list.png" alt="Imagem de Feitiços de Invocador">
                    <div class="overlay">
                      <h2>Products</h2>
                      <p>Edit, create and delete our product list</p>
                    </div>
                  </mat-card>
                </mat-grid-tile>
              </mat-grid-list>
            </div>
          </div>
        </div>
      </div>
    </div>

  </app-dynamic-panel-body>

</div>
