<div [@fadeInOut]>
  <div class="panel-header">
    <div class="header text-center">
      <h4 class="title"></h4>
    </div>
  </div>

  <app-dynamic-panel-body [title]="true" [titleLabel]="''">

    <div fxLayout="column" fxLayoutAlign="center" class="center-card">
      <div fxFlex="20">
        <div fxLayout="column" fxLayoutAlign="center">
          <div fxFlex="20">
             <h3 class="text-ajust">Welcome to the Cloudonix Product Manager: Cloud-Store Manager</h3>
          </div>

          <div fxFlex="80">
            <span class="text-ajust description">
              Cloud-Store Manager is dedicated to transforming the way businesses manage their products online.
              This product manager is designed to meet the need for fast, secure, and easy-to-use solutions,
              and is fully integrated with the Cloudonix platform.
            </span><br>

            <span class="text-ajust description">
              With Cloud-Store Manager, your online store benefits from a system that automates and simplifies inventory management,
              allowing you to focus on what really matters: growing your business. The application you’re about to use allows
              you to manage your products intuitively and efficiently, thanks to the robust infrastructure of Cloudonix.
            </span><br>

            <span class="text-ajust description">
              Instructions for Use:<br>
              1. Log in using your Cloudonix authorization key.<br>
              2. View, edit, or create new products with total flexibility.<br>
              3. Delete products securely, with confirmation for each deletion action.
            </span>
          </div>

        </div>

      </div>

      <div fxFlex="80">
        <div class="container" style="margin-top: -40px;">
          <mat-grid-list cols="2" rowHeight="1:1" class="grid-list">
            <mat-grid-tile>
              <a href="https://www.cloudonix.com/" target="_blank">
                <mat-card class="card"
                  style="background-image: url('assets/images/cloudonix-website.png'); background-size: cover; background-position: center;">
                  <div class="overlay">
                    <h2>Cloudonix WebSite </h2>
                    <p> Get to know more about our services on our website, click hero to see!</p>
                  </div>
                </mat-card>
              </a>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-card class="card" routerLink="/product-management">
                <img src="assets/images/project-list.png" alt="Imagem de Feitiços de Invocador">
                <div class="overlay">
                  <h2>Products</h2>
                  <p>Edit, create and delete our product list</p>
                </div>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>

    </div>

  </app-dynamic-panel-body>

</div>
