<h2 *ngIf="this.data !== null" mat-dialog-title>{{ 'Edit one Product' }}</h2>
<h2 *ngIf="this.data === null" mat-dialog-title>{{ 'New Product' }}</h2>


<form [formGroup]="productFormGroup" >
  <mat-dialog-content class="mat-typography" fxLayout="column">

    <div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="5px">
        <div fxFlex="50" fxFlex.sm="100">
          <app-dynamic-input
            [label]="'Name'"
            [inputFormControl]="getFormControl('name')"
            [inputPlaceholder]="'Name'"
            [isRequired]="true"
            [isDisabled]=""
            [isHint]="true"
            [hintValue]="30"
            [maxlengthValue]="30"
            [isSuffix]="false"
            [suffixValue]="">
          </app-dynamic-input>
        </div>

        <div fxFlex="25" fxFlex.sm="100">
          <app-dynamic-input
            [label]="'Cost'"
            [inputFormControl]="getFormControl('cost')"
            [inputPlaceholder]="'Cost'"
            [isRequired]="true"
            [isDisabled]=""
            [isHint]="false"
            [isSuffix]="false"
            [isCurrencyMask]="true"
            [currencyMaskOptions]="payValueCurrencyMaskOptions"
            [suffixValue]="">
          </app-dynamic-input>
        </div>

        <div fxFlex="25" fxFlex.sm="100">
          <app-dynamic-input
            [label]="'SKU'"
            [inputFormControl]="getFormControl('sku')"
            [inputPlaceholder]="'SKU'"
            [isRequired]="true"
            [isDisabled]="this.data !== null"
            [isHint]="false"
            [isSuffix]="false"
            [suffixValue]="">
          </app-dynamic-input>
        </div>
      </div>

      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="5px">
        <div fxFlex="100">
          <mat-form-field class="full-width textarea" appearance="outline" fxFlex>
            <mat-label>{{ 'Description' }}
            </mat-label>
            <textarea matInput formControlName="description" spellcheck="false" autocomplete="false" [rows]="8"
              maxlength="500" [required]="false"
              placeholder="{{ 'Description' }}">
          </textarea>
            <mat-hint align="end">{{
              getFormControl("description")?.value?.length || 0
              }}/{{ 500 }}</mat-hint>
          </mat-form-field>
        </div>
      </div>

    </div>

    <h3 class="section-title">Profile</h3>
    <!-- <hr class="section-divider"> -->

    <div formGroupName="profile" class="profile-container">
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="5px">

        <div fxFlex="30" fxFlex.sm="100">
          <app-dynamic-select
            [label]="'Type'"
            [selectFormControl]="getFormControl('profile.type')"
            [optionsData]="typeData"
            [optionColumn]="['type']"
            [isLoading]="true"
            [isSearch]="false"
            [plaseholderInputSearch]="'Type'"
            [isRequired]="false"
            [isDisabled]="false">
          </app-dynamic-select>
        </div>

        <div fxFlex="50" fxFlex.sm="100">
          <app-dynamic-input
            [label]="'Backlog'"
            [inputFormControl]="getFormControl('profile.backlog')"
            [inputPlaceholder]="'Backlog'"
            [isRequired]="false"
            [isDisabled]=""
            [isHint]="false"
            [inputType]="'number'"
            [isSuffix]="false"
            [inputType]="'number'"
            [suffixValue]="">

          </app-dynamic-input>
        </div>

        <div fxFlex="20" fxFlex.sm="100" style="text-align: center;">
          <mat-checkbox style="margin-top: 6px;"
          formControlName="available">Available</mat-checkbox>
        </div>
      </div>

      <!-- <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="5px">
        <div fxFlex="100" fxFlex.sm="100">
          <div formArrayName="customProperties">
            <app-custom-properties-editor
              [customProperties]="customProperties"
              (addCustomProperty)="addCustomProperty()"
              (removeCustomProperty)="removeCustomProperty($event)">
            </app-custom-properties-editor>
          </div>
        </div>
      </div> -->
    </div>

  </mat-dialog-content>


  <mat-dialog-actions fxLayout="row">
    <div fxFlex align="end">
      <button type="button" mat-raised-button mat-dialog-close class="defaul">{{'Cancel'}}</button>
      <button type="button" mat-raised-button class="success" color="success" (click)="save()"
        [disabled]="">{{'Save'}}</button>
    </div>
  </mat-dialog-actions>
</form>
